    <div class="item" ng-repeat="($cashflowIndex, cashflow) in cashflows | orderBy: 'completed' " >
      <ul>
        <li class="item-type">Income
          <ul>
            <li ng-repeat="($incomeIndex, item) in cashflow.income" ng-class="{'editing-item': income.editing, 'completed': cashflow.completed}" class="item-row">

              <input class="form-input item-input" type="text" ng-model="item.name" ng-change="cashflow.edited = true" placeholder="Enter an income source" select-on-click /><input class="form-input item-input item-amount" type="text" ng-model="item.amount" ng-change="cashflow.edited = true" select-on-click />
              <span ng-click="removeIncome(cashflow, $incomeIndex);cashflow.edited = true" class="item-remove">✕</span>
            </li>

            <li class="item-add"><span ng-hide="editing" ng-click="addIncome(cashflow)">Add</span></li>
          </ul>
        </li>
        <li class="item-type">Expenses
          <ul>
            <li ng-class="{'editing-item': cashflow.edited, 'completed': cashflow.completed}" ng-repeat="($expenseIndex, item) in cashflow.expenses" class="item-row">
              <input class="form-input item-input" type="text" ng-model="item.name" ng-change="cashflow.edited = true" placeholder="Enter an expense" select-on-click /><input class="form-input item-input item-amount" type="text" ng-model="item.amount" ng-change="cashflow.edited = true" select-on-click />
              <span ng-click="removeExpense(cashflow, $expenseIndex);cashflow.edited = true" class="item-remove">✕</span>
            </li>

            <li class="item-add"><span ng-hide="editing" ng-click="addExpense(cashflow)">Add</span></li>
          </ul>
        </li>
      </ul>
      
      <div class="actions">
        <button ng-click="createCashFlow(cashflow)" class="btn btn-wide btn-create">Create my report</button>
      </div>
    </div>