<footer class="footer">
	<h2>Join our mailing list for updates</h2>
	<form id="form1" name="form1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://10xsoftware.wufoo.com/forms/z1y0s845137tup7/#public">
		<input id="Field1" name="Field1" placeholder="Enter your email" class="subscribe-input" type="email" spellcheck="false" value="" maxlength="255" />
		<input id="saveForm" class="subscribe-btn" name="saveForm"
    type="submit" value="Subscribe"
 />
 		<input type="hidden" id="idstamp" name="idstamp" value="hwkneA8jVTEF5g+hnW67NR2dCxiaZVyKoWPPlVbKKrc=" />
	</form>
	<p class="footer-copyright">Copyright &copy; 2016 Sight. Made by <a href="http://www.10xsoftware.com">10x</a>.</p>
</footer>

<script src="../scripts/wufoo.js"></script>
