body, html {
  padding: 0;
  margin: 0;
}

.page {
  padding: 25px;
}

.item {
  padding: 15px 0;
}

.item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cashflow-chart {
	width: 400px;
	height: 300px;
}